<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시물 목록</title>
</head>
<body>
<h1>📌 게시물 목록</h1>

<table>
    <tr>
        <th>ID</th>
        <th>제목</th>
        <th>내용</th>
        <th>관리</th>
    </tr>
    <tr th:each="post : ${posts}">
        <td th:text="${post.id}"></td>
        <td th:text="${post.title}"></td>
        <td th:text="${post.content}"></td>
        <td>
            <a th:href="@{/posts/{id}(id=${post.id})}">조회</a>
            <a th:href="@{/posts/edit/{id}(id=${post.id})}">수정</a>
            <form id="delectPost" th:action="@{'/posts/delete/' + ${post.id}}" method="post">
                <input type="hidden" name="_method" value="delete"/>
                <button id="delete-btn">삭제</button>
            </form>
        </td>
    </tr>
</table>

<a href="/posts/new">📌 새 게시물 작성</a>
</body>
</html>
